@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Roboto, Proxima Nova, system-ui, sans-serif;
        width: 100%;
        position: relative;
    }
    body{
        width: 100%;
    }
}